
.advanced-searchForm {
  max-width: none;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  padding: 24px
}

.editable-table {
  // background-color: rgba(0, 0, 0, 0.02);
  // border-radius: 8px;
  margin-top: 16px;
}